@font-face {
  font-family: "iconfont"; /* Project id 2608257 */
  src: url('iconfont.woff2?t=1623414434931') format('woff2'),
       url('iconfont.woff?t=1623414434931') format('woff'),
       url('iconfont.ttf?t=1623414434931') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-yundong4:before {
  content: "\e65f";
}

.icon-icon-yundong8:before {
  content: "\e660";
}

.icon-icon-yundong9:before {
  content: "\e661";
}

.icon-icon-yundong11:before {
  content: "\e662";
}

.icon-icon-yundong17:before {
  content: "\e663";
}

